*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;

}
#navbar::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
ul{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    list-style: none;
    font-size: 1.3rem;
}
ul li a{
    display: block;
    margin: 10px 10px;
    padding: 5px 5px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 23px;
    color: black;
    background-color: white;
}
ul li a:hover{
    background-color: black;
    color: white;
}
#logo img{
    height: 112px;
    width: 136px;
    border-radius: 60px;
}
#services-container{
    margin-top: 156px;
}
#hs{
    font-size: 2rem;
    text-align: center;
}
#services{
    margin: 20px 20px;
    display: flex;
}
#services .box{
    border: 2px solid black;
    border-radius: 23px;
    width: 350px;
    padding: 10px 10px;
    margin: 25px 25px;
}
#services-container{
        margin-top: 156px;
    }
    #hs{
        font-size: 2rem;
        text-align: center;
    }
    #services{
        margin: 20px 20px;
        display: flex;
    }
    #services .box{
        border: 2px solid black;
        border-radius: 23px;
        width: 350px;
        padding: 10px 10px;
        margin: 25px 25px;
    }
    #h-secondary-services{
        text-align: center;
    }
    #services .box img{
        height: 220px;
        width: 345px;
        margin: auto;
        display: block;
        border-radius: 23px;
    }
    #services-container::before{
        content: "";
        background: url(background.jpg) no-repeat center center/cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
    }